.slider-card{
    height: 350px;
    width: 250px;    
    border-radius: 20px;
    position: relative;
    margin-top: 100px;
    display: inline-block;
    margin-right: 50px;
    overflow: hidden;
    border: 3px solid white;
    opacity: .7;
}

.slider-card h3{
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
}

.active-card{
    border: 3px solid orange;
    opacity: 1;
}